*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    background-image:url(SM.png) ;
}

.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-titulo {
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor .div-formulario {
    width: 30%;
    height: 365px;
    margin: 15px 15px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(110, 50, 23, 0.3);
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: darkgrey;
}

.contenedor.div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor.div-formulario form input,
.contenedor.div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}

.contenedor .div-listado {
    width: 55%;
    height: calc(100% - 50px);
    margin: 15px 15px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(110, 60, 60, 0.3);
}

.contenedor .div-listado h2 {
    justify-content: center;
    margin-top: 10px;
    font-weight: 200;
    font-size: 2em;
    color: azure;
}

.contenedor .div-listado .div-empleados {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}

hr {
    width: 100%;
    height: 1px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}

.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-titulo {
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor .div-formulario {
    width: 30%;
    height: 250px;
    margin: 15px 15px;
    background-color: #a733b6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(110, 50, 23, 0.3);
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.contenedor.div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor.div-formulario form input,
.contenedor.div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}

.contenedor .div-listado {
    width: 55%;
    height: calc(100% - 50px);
    margin: 15px 15px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(110, 60, 60, 0.3);
}

.contenedor .div-listado h2 {
    justify-content: center;
    margin-top: 10px;
    font-weight: 200;
    font-size: 2em;
    color: azure;
}

.contenedor .div-listado .div-empleados {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}

hr {
    width: 100%;
    height: 1px;
}
.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5ox;
    color: white;
    border-radius: 50px;
}

.btn-editar {
    background-color: green;
}
.btn-eliminar {
    background-color: red;
}